* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* BODY */
body {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  width: 100%;
}

/* HEADER */
.header {
  background-color: #eac926;
  margin-bottom: 0px;
  padding-bottom: 1px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 25px;
}

.content__logo {
  width: 40%;
}

.content__search {
  display: flex;
  width: 40%;
}

.content__search__input {
  width: 85%;
  padding-left: 5px;
  height: 50%;
  border: none;
  border-radius: 2px;
  align-self: center;
  font-size: 2.3vw;
}

.content__search__button {
  font-size: 2.3vw;
  background-color: white;
  color: #666;
  width: 15%;
  height: 50%;
  border: none;
  border-radius: 2px;
  margin-left: 2px;
  align-self: center;
}

.content__copy {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 4vw;
}

.nav {
  display: none;
}

.nav__list {
  padding-left: 10px;
}

.li {
  list-style: none;
}

.list__link {
  font-size: 2vw;
  color: black;
  text-decoration: none;
}

.burgerMenu {
  font-size: 5vw;
  text-align: center;
  color: white;
  background-color: #1259c3;
  border-radius: 5px;
  margin: 15px auto;
  padding: 5px;
  width: 10%;
}

/* MAIN */
.main {
  background-color: #ebebeb;
  margin: 0px;
  padding: 0px 0px 15px;
}

#banner {
  max-width: 100%;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.section__h2 {
  color: #666;
  font-size: 6vw;
  padding: 20px 0px 9px 15px;
}

.section__article {
  background-color: white;
  width: 90%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.productImg {
  width: 100%;
}

.boxDescription {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border-top: solid 1px #ebebeb;
  padding: 10px;
  justify-content: space-between;
}

.fas.fa-truck {
  position: absolute;
  bottom: 80%;
  left: 80%;
  color: #39b54a;
  background-color: white;
  font-size: 5vw;
  border: solid 1px #39b54a;
  border-radius: 50%;
  padding: 5px;
}

.boxDescription__price {
  font-size: 5vw;
  margin-bottom: 0px;
  width: 100%;
  margin-bottom: 5px;
}

.boxDescription__discount {
  color: #39b54a;
  font-size: 5.5vw;
  margin: 5px 0px 0px;
  width: 100%;
}
.boxDescription__description {
  margin-top: 5px;
  font-size: 16px;
  display: none;
  color: #666;
}

/* FOOTER */
.footer {
  text-align: center;
  color: #666;
  margin: 10px;
}

.footer__section-initial {
  margin-top: 20px;
}

.footer__section-final {
  margin-bottom: 30px;
}

.footer__section__icon {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 2em;
  color: #1259c3;
}

.footer__section__h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.footer__section__p {
  text-align: center;
  margin-top: 2px;
  margin-bottom: 25px;
  margin: auto;
  max-width: 80%;
}

.copyright {
  font-size: 10px;
  margin-left: 15px;
  text-align: left;
}


/* _______________________________________________________________________________________________ */
/* MEDIAS */
@media (min-width: 361px) /* TABLET */ {
  /* HEADER */
  .content__logo {
    width: 30%;
  }

  .content__search {
    width: 30%;
  }

  .content__search__input {
    font-size: 1.5vw;
  }

  .content__search__button {
    font-size: 1.5vw;
  }

  .content__copy {
    width: 30%;
    font-size: 2vw;
    margin-top: 0px;
    align-self: center;
  }

  .nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 17px 10px 10px;
  }

  .nav__list {
    display: flex;
  }

  .nav__list--left {
    width: 50%;
    justify-content: start;
    padding: 0px;
  }

  .nav__list--right {
    width: 50%;
    justify-content: flex-end;
    padding: 0px;
  }

  .list__link {
    margin: 4px;
  }

  .burgerMenu {
    display: none;
  }

  /* MAIN */
  .section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .section__h2 {
    width: 100%;
    font-size: 4vw;
    justify-content: start;
  }

  .section__article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 45%;
  }

  .boxDescription {
    display: flex;
    flex-wrap: wrap;
  }

  .boxDescription__description {
    display: block;
  }

  .boxDescription__price {
    font-size: 3vw;
  }

  .boxDescription__discount {
    font-size: 3.5vw;
  }

  .boxDescription__description {
    font-size: 2.5vw;
  }

  .fas.fa-truck {
    font-size: 3vw;
  }
}

@media (min-width: 769px) /* DESKTOP */ {
  /* HEADER */
  .content__logo {
    width: 20%;
  }

  .content__search {
    width: 30%;
  }

  .content__copy {
    font-size: 1.5vw;
    width: 20%;
  }

  .list__link {
    font-size: 1.2vw;
    margin: 15px;
  }

  /* MAIN */
  .section__h2 {
    font-size: 2vw;
  }
  .section__article {
    width: 23%;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transition: box-shadow 0.5s;
  }
  .section__article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .section__article > .boxDescription > .boxDescription__description {
    display: block;
    visibility: hidden;
    transition: visibility 0.5s;
  }
  .section__article:hover > .boxDescription > .boxDescription__description {
    visibility: visible;
    transition: visibility 0.5;
  }

  .boxDescription__price {
    font-size: 1.5vw;
  }

  .boxDescription__discount {
    font-size: 2vw;
  }

  .boxDescription__description {
    font-size: 1.3vw;
  }

  .fas.fa-truck {
    font-size: 1.5vw;
    transform: scale 3s;
  }
  .fas.fa-truck:hover {
    transform: scale(1.5);
  }

  /* FOOTER */
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .footer__section {
    width: 30%;
  }

  .footer__section-initial {
    margin-top: 0px;
  }

  .footer__section-final {
    margin-bottom: 0px;
  }

  .footer__section__icon {
    transition: color 0.5;
  }
  .footer__section__icon:hover {
    color: #39b54a;
  }

  .copyright {
    width: 100%;
    align-content: center;
    margin: 25px auto 0px;
  }
}